@font-face {
    font-family: "SmileySans-Oblique";
    src: url("../font/SmileySans-Oblique.ttf"),url("../font/SmileySans-Oblique.otf"),url("../font/SmileySans-Oblique.otf.woff2"),url("../font/SmileySans-Oblique.ttf.woff2");
}

*{
    --font--:"SmileySans-Oblique";
}

body{
    background-color: #fe9719;
    background-image:linear-gradient(to right top,#ecce7d,#fe9719);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.top{
    width: 100%;
    position: absolute;
    top: 0;
    min-height: 40px;
    max-height: 55px;
    height: 8%;
    /*background-color: aqua;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.headl{
    height: 40px;
    /*box-shadow: 5px 5px 5px rgba(0,0,0,.8);*/
    transition: box-shadow 0.3s;
    background-color: #8ffe19;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--font--);
}

body::-webkit-scrollbar{
    width: 0px;
    background-color: gray;
}

.card{
    background-color: rgba(255,255,255,.7);
    position: relative;
    transition: left 0.5s;
    height: 75%;
    width: 75%;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conn{
    /*background-color: aqua;*/
    height: 95%;
    width: 95%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;

}

.conn::-webkit-scrollbar{
    width: 0px;
}

.iconlip{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    /*background-color: #fe9719;*/
    
    /*
    transition: width 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    */
    position: relative;
    overflow: hidden;
}

.name{
    position:absolute;
    transition: bottom 0.3s;
    bottom: calc(50px - 14px);
    font-family: "SmileySans-Oblique";
    font-size: 28px;
    left:170px;   
}

.icon{
    position: relative;
    transition: left 0.3s;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.icon img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.foot{
    position: absolute;
    bottom:0;
    /*background-color: aqua;*/
    height: 40px;
    width: 100%;
    display:block;
    justify-content: center;
    font-size: 1px;
    color:rgba(123, 122, 119, 0.882);
}

.foot p{
    display: flex;
    justify-content: center;
}

.som{
    /*background-color:#fe9719;*/
    width: 100%;
    margin-top: 10px;
    height:calc(100% - 125px);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    font-size: 20px;
    font-family:"SmileySans-Oblique" ;
    opacity: 0;
    transition: opacity 1s;
}

.som::-webkit-scrollbar{
    width: 0px;
    background-color: gray;
}

.inter{
    text-decoration:none;
    color: black;
}

.interima{
    width: 25px;
    height: 25px;
    vertical-align:text-bottom;
}

.card2{
    background-color: rgba(255,255,255,.7);
    position: absolute;
    transition: left 0.5s;
    height: 75%;
    width: 75%;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

.flsom{
    /*background-color:#fe9719;*/
    position: relative;
    width: 100%;
    height:90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-family:"SmileySans-Oblique" ;
    opacity: 1;
    transition: opacity 1s;
}

.flsom::-webkit-scrollbar{
    width: 0px;
    background-color: gray;
}

.tip{
    margin-top: 15px;
    width: auto;
    height: 40px;
    /*background-color: #fe9719;*/
    transition: width 0.3s;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.linkbord{
    /*background-color:aqua;*/
    width: 100%;
    margin-top: 10px;
    height:calc(100% - 75px);
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    font-size: 20px;
    font-family:"SmileySans-Oblique" ;
}

.linkbord::-webkit-scrollbar{
    width: 0px;
    background-color: gray;
}

.linkcard{
    width: 50%;
    height: 125px;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteimg{
    width: auto;
    max-width: 50px;
    max-height: 50px;
    height: auto;
    /*background-color: blue;*/
    overflow: hidden;

}

.siteimg img{
    width: 100%;
    border-radius: 10px;
}

.sitename{
    margin-left: 5px;
    width: auto;
    max-width: calc(100% - 85px);
    overflow-y: hidden;
    overflow-x: auto;
    height: 28px;
    /*background-color: #fe9719;*/
    white-space:nowrap
}

.sitename::-webkit-scrollbar{
    height: 0px;
}

